* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

html {
  font-size: 20px;
  background-color: rgb(0, 128, 0);
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  /* flex-basis: 5%; */
  height: 30px;

  background-color: rgb(128, 128, 0);
  border-bottom: 3px solid black;
  border
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.common-atr {
  border: 3px solid black;
}

.main__squares-lines-circle {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;

  @media (min-width: 583px) {
    flex-basis: 45%;
  }

  @media (min-width: 900px) {
    flex-basis: 75%;
  }
}

.main__squares {
  flex-basis: 100%;
  display: flex;
  margin: 5px 15px;
  align-content: start;

  @media (min-width: 900px) {
    flex-basis: 45%;
  }
}

.square {
  width: 12vh;
  height: 12vh;
  transform: rotate(45deg);
  background-color: red;

  @media (min-width: 583px) {
    margin: 10px 0 0 0;
    width: 15vh;
    height: 15vh;
  }  
  @media (min-width: 900px) {
    width: 18vh;
    height: 18vh;
  }  
}

.square1 {
  margin: 11vh 0 0 0;
  @media (min-width: 583px) {
    margin: 18vh 0 0 0;
  }
  @media (min-width: 900px) {
    margin: 17vh 0 0 0;
  }
}

.main__lines-circle {
  flex-basis: 100%;
  display: flex;
  height: 100px;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: start;
  margin: 40px 0;

  @media (min-width: 583px) {
    align-content: center;
  }

  @media (min-width: 900px) {
    flex-basis: 45%;
    align-content:center;
  }
}

.line {
  width: 10vh;
  height: 1.5vh;
  background-color: rgb(0, 0, 255);

  @media (min-width: 583px) {
    width: 19vh;
    height: 2vh;
  }  
  @media (min-width: 900px) {
    width: 18vh;
    height: 2vh;
  } 
}

.circle {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  background-color: rgb(0, 128, 128);
  margin: 0 20px;
  @media (min-width: 583px) {
    width: 19vh;
    height: 19vh;
  }  
  @media (min-width: 900px) {
    width: 18vh;
    height: 18vh;
  } 
}

.main__rectangle {
  display: flex;
  flex-basis: 80%;
  margin: 0 20px;
  /* align-content: start; */

  @media (min-width: 583px) {
    flex-basis: 30%;
    justify-content: end;
  }

  @media (min-width: 900px) {
    flex-basis: 20%;
    justify-content: end;
  }
}

.rectangle {
  width: 120px;
  height: 35vh;
  background-color: blue;

  @media (min-width: 583px) {
    background-color: rgb(200, 55, 55);
    width: 25vw;
    height: 80vh;
  }
  @media (min-width: 900px) {
    background-color: white;
    width: 18vw;
    height: 80vh;
  }
}
